{% extends 'base.html' %}
{% block title%}
SALVO
{% endblock%}
{% block content%}
{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/lista/">Listar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/adiciona/">Adicionar</a>
            </li>                             
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/contato/">Contato</a>        
          </div>
        </div>
    </nav>

</div>

<div id="tituloPaginas">
    <p>CADASTRADO ATUALIZADO COM SUCESSO!</p>
</div>

<div class="containerformularioSalvo">

  <div class="row">
    <img class="imgFormularioSalvo" src="{% static "/media/img_salvo_01.png" %}">
  </div>
  <div class="row">
    <a id="formularioVoltar"  class="btn btn-secondary" href="/lista/">Voltar</a>
  </div>
    <div class="formularioVoltar">    
  </div>

</div>

{% endblock %}