{% extends 'base.html' %}
{% block title%}
HOME
{% endblock%}
{% block content%}
{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" href="/lista/">Listar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adiciona/">Adicionar</a>
            </li>                             
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/contato/">Contato</a>        
          </div>
        </div>
    </nav>

</div>  

<div align="center">    

    <div class="titleHomepage">
        <h2>Bem-Vindo</h2>        
        <h1>PORTAL PROFESSOR</h1>
        <div class="titleH3">
            <h3>Gerencie os professores de sua empresa em um só lugar</h3>
            <h3>Cadastro simples e rápido</h3>
            <h3>Crie, Edite e Gerencie</h3>
        </div>
        
    </div>   
    <div class="description">
        <p></p>
    </div>

</div>

<div class="container">
    <div class="footerHomepage">
        <footer>          
          <p>Desenvolvido por: Ramon Gonçalves</p>            
          <a href="https://www.linkedin.com/in/ramon-gon%C3%A7alves-a900bb190/" target="_blank"><img src="{% static "/media/img_linkedin_01.png" %}" alt=""></a>
          <a href="https://github.com/RamonTadeuGoncalves" target="_blank"><img src="{% static "/media/img_github_01.png" %}" alt=""></a>
        </footer>
    </div>
</div>

{% endblock %}