{% extends 'base.html' %}
{% block title%}
ITEM
{% endblock%}
{% block content%}
{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/lista/">Listar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adiciona/">Adicionar</a>
            </li>                             
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/contato/">Contato</a>        
          </div>
        </div>
    </nav>
</div>

<div id="tituloPaginas">
    <p>DETALHES DO CADASTRO.</p>
</div>

<div class="containerDetalhesCadastro">
    
    <h1 id="tituloDetalhes">{{ item.nome }}</h1>

    <div class="form-row">
        <div class="form-group col-lg-4">
            <div class="detalhesTitulacaoEndereco">
                <h5>Titulação: {{item.titulacao}}</h5>
                <h5>Endereço: {{item.endereco}}</h5>                   
            </div>           

        </div>
        <div class="form-group col-lg-7">
            <div class="detalhesMatriculaTelefone">
                <h5>Matrícula: {{ item.matricula }}</h5>
                <h5>Telefone: {{item.telefone}}</h5>
            </div> 
        </div>
    </div>

    <div class="botoes">
        <a id="detalhesBotao" class="btn btn-primary" href="/lista/">Voltar</a>
        <a id="detalhesBotao" class="btn btn-secondary" href="/excluir/{{item.id}}/">Excluir</a>
        <a id="detalhesBotao" class="btn btn-primary" href="/editar/{{item.id}}/">Editar</a>           
    </div>
    
</div>

{% endblock %}