/* Home Page */

#body{
    background-color: #343a40;
}

.containerHomePage {    
    background-color: #343a40;    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.titleHomepage{
    color: white;
    margin-top: 5%;
    text-align: center;
}

.h1HomePage{
    text-align: center;
    
}

h2{    
    padding-bottom: 5%;
    text-align: center;
}

h3{
    text-align: center;
}

.titleH3{
    padding-top: 5%;
    text-align: center;
}

#footerHomepage{
    background-color: #343a40;
    color: white;
    margin-top: 15%;    
    font-size: 14px;
    text-align: center;   
    text-shadow: 2px 2px 2px black;
    font-weight: bold;    
}

#imgFooter{    
    width: 25px;
}

/* Formulário Adiciona */

.containerFormulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}
  
.col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
}
    
    
.col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
      margin-left: 15%;
}
  
.row:after {
      content: "";
      display: table;
      clear: both;
}
    
#formularioBotao{
        margin-left: 15%;
        margin-top: 2%;
        margin-bottom: 2%;
}

#tituloPaginas{
    margin-top: 20px;
    font-size: 28px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-family:'Times New Roman';
    font-weight: bold;
    text-align: center;
}

/* Lista de professores */

.containerListaProfessores {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    height: 50%;
    float: center;
}

#tituloSemProfessor{    
    text-align: center;
    float: center;    
    font-size: 28px;
    color: red;
    font-family:'Times New Roman';
    font-weight: bold;    
}

#listaProfessores{
    font-size: 30px;
    color: black;    
}

#lista{
    padding-top: 2%; 
}

/* Detalhes Cadastro */

.containerDetalhesCadastro {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    height: 50%;
    float: center;    
}

#tituloDetalhes{    
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 2%;    
}

.detalhesTitulacaoEndereco{    
    float: right;
}

.detalhesMatriculaTelefone{    
    float: right;
    margin-left: 30%;    
}

.botoes{    
    float: center;    
}

#detalhesBotao{
    margin-left: 15%;
    margin-top: 10%;
    
}

/* Página Salvo */

.containerformularioSalvo {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    height: 450px;
    resize: both;
        
}

#formularioVoltar{
    margin: auto;
    margin-top: 20%;    
}

.imgFormularioSalvo{
    margin: auto;
    width: 200px;
    resize: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, .detalhesTitulacaoEndereco, .detalhesMatriculaTelefone,
    .botoes, .titleHomepage, .h1HomePage, .titleH3, .imgFormularioSalvo {
      width: 100%;
      margin-top: 0;
    }
  }  