#body{
    background-color: #343a40;
}

.titleHomepage{
    color: white;
    margin-top: 100px;
}

h2{    
    padding-bottom: 30px;
}

.titleH3{
    padding-top: 30px;
}

#footerHomepage{
    background-color: #343a40;
    color: white;
    margin-top: 90px;
    padding: 30px 0 20px 0; 
    font-size: 14px;
    text-align: center;   
    text-shadow: 2px 2px 2px black;
    font-weight: bold;    
}

#imgFooter{
    
    width: 25px;
}

/*Formulário Adiciona*/

.containerFormulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}
  
.col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
}
    
    
.col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
      margin-left: 15%;
}
  
.row:after {
      content: "";
      display: table;
      clear: both;
}
    
#formularioBotao{
        margin-left: 15%;
        margin-top: 2%;
        margin-bottom: 2%;
}

#tituloFormularioAdiciona{
    margin-top: 20px;
    font-size: 28px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-family:'Times New Roman';
    font-weight: bold;
    text-align: center;
}

/*Formulário Adiciona*/

#formularioSalvo{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 420px;
}

#tituloFormularioSalvo{
    margin-top: 20px;
    font-size: 28px;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-family:'Times New Roman';
    font-weight: bold;
    text-align: center;
}

#formularioVoltar{
    margin-top: 350px;
    margin-left: 450px;
}

/*Lista de professores*/
#formularioLista{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 420px;
}
#elementosFormularioLista{
    margin-left: 200px;
    margin-right: -300px;
}

#tituloFormularioSemProfessor{
    padding-top: 160px;
    font-size: 28px;
    color: red;
    font-family:'Times New Roman';
    font-weight: bold;    
}

#listaProfessores{
    font-size: 30px;
    color: black;
}

#lista{
    padding-top: 10px;
}

/*Detalhes Cadastro*/
#formularioDetalhes{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 420px;
}
#elementosFormularioDetalhes{
    margin-left: 250px;
    margin-right: -300px;
}

#detalhesBotao{
    margin-top: 100px;
    margin-left: 30px;
}

#tituloDetalhes{
    padding-top: 30px;
    font-size: 50px;
    margin-bottom: 50px;
    
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }